@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*, *:after, *:before, *::after, *::before{font-family: 'Spoqa Han Sans', sans-serif; font-weight: 400}
.fa,.fa:after,.fa:before, .fa::after, .fa::before{font-family:FontAwesome !important;}
.nanumpen {
    font-family: 'nanum pen script', serif;
}
.cn {
    display: inline !important;
}