@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);	
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
*, *:after, *:before, *::after, *::before {font-family: 'Jeju Gothic'; font-weight: 400;}
.fa,.fa:after,.fa:before, .fa::after, .fa::before{font-family:FontAwesome !important;}
.nanumpen {
    font-family: 'nanum pen script', serif;
}
.cn {
    font-family: 'dotum';
    font-weight: 600;
    display: inline !important;
}