@charset "utf-8";
html * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0; padding: 0; color: #444}

body { margin: 0; font-family: 'Jeju Gothic'; font-size: 1rem; line-height: 1.5; }
.nanumpen 
/* 공통 스타일 */
.wrapper {
	width: 60.71428571428571%;
	margin-left: auto;
	margin-right: auto;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.txt-white {
	color: #fff;
}
.w50 {width: 50%;}
.w20 {width: 20%;}
.w16 {width: 16.6667%;}
.fl {float: left}
.fr {float: right}

/* 헤더 */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  padding-top: 14px;
  padding-bottom: 10px;
  transition: 0.5s
}
.page-header * { margin-top: 0;}
.page-header a { display: block;}
.page-header .brand a {
    font-size: 0;
}
.page-header .brand {
  /*margin-top: 30px;*/
  float: left;
  padding-bottom: 0;
}
.page-header img { margin: 0px;}
.nav-up{
  padding: 5px 0 0;
  background:#fff;
  border-bottom: 1px solid #eee ;
}

/* gnb */
.page-gnb {
  float: right;  
  margin-right: -15px;
}
.page-gnb ul {
  /*margin-top: 28px;*/
  margin-bottom: 0;
  padding-left: 0;
}
.page-gnb li {
  float: left;
}
.page-gnb a {
  display: block;
  color: #444;
  line-height: 1;
  padding: 15px 0;
  margin: 0 15px;
}

.page-gnb a:hover {
  color: #a6c840;
}

.page-gnb li.on a {
  border-bottom: 3px solid #a6c840;
  color: #a6c840;
}

.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu {
  font-size: 13px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  border: 1px solid rgba(0,0,0,0.1);
}
.dropdown-menu > li > a {
  padding: 5px 15px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: none;
  filter: none;
  border: none;
  color: #A4C744;
}
.dropdown:hover > .dropdown-menu,
.dropdown:focus > .dropdown-menu {
  display: block;
}
.open .dropdown-toggle li {
  color: #fff !important;
  background-color: #81ba53;
  border-color: #79b549;
}
.open .dropdown-toggle li {
  background-image: none;
}


/* 컨테이너 */
.container {
  padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
}
.page-container {
	
}

[class*="content-0"]{
  position: relative;
  overflow: hidden; 
  height: 552px;
}


/* 메인 */
.content-1 .main {
    background: url(../images/main.jpg) no-repeat 0/100% 100%;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh
}
.content-1 .main .col-8{
    background: url(../images/bg-maintxt.png) no-repeat 100%;
    margin-top: 21em;
}
.content-1 .main .col-8 h3{
   color: #fff;
   text-align: right;
   font-size: 2.25rem;
   padding: 3em;
}
/* main news */
.content-1 .notice{
    padding: 1.3em 0;
   background: #82B436
}
.news {
	margin-top: 15px;
}
.news .open-event {
	height:40px;
	position:relative; 
	overflow:hidden;
}
.news .open-event ul{
	position:absolute; 
	top:0px;
}
.news .open-event ul#notice1 {
	left:0;
}
.news .open-event ul#notice2 {
	right:20px;
}
.news .open-event ul li {
	height:20px;
}
.news .open-event ul li a {
	display:inline-block; 
	width: 310px;
}
.news .open-event ul li a:hover {
	text-decoration:underline;
}
.news .open-event ul li a strong {
	margin-right:10px;
}
.news .open-event ul li span.date {
	display:inline-block;
}
.news .open-event .prev{
	position:absolute; 
	top:1px; 
	right:2px; 
	width:7px; 
	height:4px; 
	line-height:0; 
	font-size:0;
}
.news .open-event .next{
	position:absolute; 
	bottom:1px; 
	right:2px; 
	width:7px; 
	height:4px; 
	line-height:0; 
	font-size:0;
}
.news .control {
	float:left; 
	margin:0px 0 0 10px; 
}
.news .control a.stop {
	font-size:12px;
}
.news .control a.on {
	color:red;
	font-size:12px;
}

.content-1 h4, .content-1 li a {
    color: #fff;
}
.content-1 h4 {
    font-size: 1rem; 
}
.content-1 li {
    font-size: 0.875rem;
    line-height: 1.7143;
}
.content-1 .col-2 a {
    display: block;
    background: #EAE9D1;
    padding: 1em;
    margin: 1.25em 0;
    color: #7A7763;
    font-size: 0.875rem;
    text-align: center;
}

.content-2 {
    /* background: url(../images/tileable_wood_texture.png);
    background-attachment: fixed; */
}
.content-2 .row {
    padding: 3em 0;
}
.content-2 .title {
    text-align: center;
    margin-top: 10.5em;
}
.content-2 .title h3{
    background: url(../images/bg-title.png) no-repeat center;
    text-align: center;
    padding: 0.8em 0;
    font-size: 1.875rem;
    line-height: 1.6;
    color: #82B436;
}
.content-2 .title p {
    text-align: center;
    margin: 1.5em 0;
}
.content-2 .title a {
    display: inline-block;
    background: #F8F1EA;
    border: 1px solid #E0D7C5;
    border-radius: 3px;
    padding: 0 1em;
    color: #7A715F;
    font-size: 0.75rem;
    text-align: center;
    line-height: 2.4em;
}
.content-2 .title a:hover {
    background: #fff;
}
.product-item {
  overflow: hidden;
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.product-item img {
	width: 12.5vw;
	height: 12.5vw;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.product-item .hover-focus-view {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 12.5vw;
  height: 12.5vw;
  background: url(../images/bg-content.png) no-repeat 0 0 /100% 100%;
    transition: 0.3s;
}
.product-item .hover-focus-view a {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    color: #fff;
    margin-top: -0.5em;
}
.product-item:hover .hover-focus-view {
  opacity: 1;
}

.content-3 {
    background: #E6DFCF;
}

.content-4 .col-9 {
    overflow: hidden
}
.slider {
  width: 1000%;
  height: 36em;
}
.slider .slide {
  width: 10%;
  height: 39em;
  float: left;
    overflow: hidden;
}
button {
  cursor: pointer;
}
button:active, button:focus { border:none; outline: none;}

.btn-set {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -49px;
}
.btn-set .btn-prev {
  display: block;
  width:31px;
  height: 98px;
  float: left;
  background: url(../images/arrow.png) no-repeat 0 0;
}
.btn-set .btn-next {
  display: block;
  width:31px;
  height: 98px;
  float: right;
  background: url(../images/arrow.png) no-repeat -31px 0;
}



/* 푸터 */
.footer {
  margin-top: 4.5em;
  background: #ebead2;
}
.footer>.row {
 padding: 3em 0;
}
.footer p {
  font-size: 0.875rem;
  line-height: 1.7143;
  color: #444;
  letter-spacing: 0.025em;
}
.footer .logo-name p {
    font-size: 1.125rem;
    color: #6e8330;
}
.footer .logo-name p.fz24 {
    font-size: 1.5rem;
}
.footer .btn {
    font-size: 0.75rem;
    color: #444;
    margin-left: 40px;
    margin-bottom: 2em;
}
.footer .btn .footer-icon {
    width: 4em;
    height: 4em;
    display: inline-block;
    background: #a6c840;
    border-radius: 25%;
    text-align: center;
    vertical-align: middle;
}
.footer .btn:hover .footer-icon {
    background: #93B13A;
}
.footer .btn .footer-icon img {
    margin-top: 8px;
}
.footer .btn span.kas img {
    margin-top: 12px;
}
.footer p.copyright {
  color: #666;
    text-align: right;
}

span[class*="col-"] {
  text-align: center;
}

.detail-01 .panel-body {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.detail-01 .top {
  margin-bottom: 4.5em;
}
.detail-01 .top>.row {
  background: url('../images/top.jpg') no-repeat center;
  background-size: 100%;
  padding: 7.5em 0;
}
.detail-01 h3 {
  color: #fff;
  margin-bottom: 0;
  font-size: 1.875rem;
  line-height: 1.6;
}
.detail-01 h4 {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}




/* intro */
.intro {
    background: url(../images/intro/bg-intro.png) no-repeat 78% 4.5em;
}
.intro h3 {
    color: #444;
    line-height: 1.6;
    margin-bottom: 0.8em;
}
.intro h3.nanumpen {
    font-size: 2.25rem;
    color: #a6c840;
    line-height: 1.3333;
    margin-bottom: 0.6667em;
}
.intro p {
    font-size: 0.875rem;
    line-height: 1.7143;
}
.intro .ceo-img {
    margin-top: 6em;
}
.intro .profile {
    margin-bottom: 5.1429em;
}
.line {
    height: 3em;
    background: url(../images/intro/bg-line.png);
    margin-bottom: 3em;
}
.intro-2 {
    background: none;
}
.intro-2 .bizz {
    background: url(../images/intro/bg-bizz.jpg) 0 / cover;
    background-attachment: fixed;
    padding: 0 13.392857142857142%
}
.intro-2 .bizz div {
    margin-top: 12em;
    margin-bottom: 10.5em;
}
.intro-2 .bizz .wd20 {
	width: 19%;
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.intro-2 .bizz h4 {
    font-size: 1.625rem;
    line-height: 1.8462;
    border-bottom: 1px solid #EAE9D1;
}
.intro-2 .bizz p {
    margin-top: 0.8572em;
    margin-bottom: 0.8572em;
}
.intro-2 .bizz h4,
.intro-2 .bizz p {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 3px #000;
}
.intro-3 {
    background: none;
    margin-top: 4.5em;
    text-align: center;
}
.intro-3 .col-12 {
    font-size: 0
}
.intro-3 h3 {
    text-align: left
}
.intro-3 .since {
    font-size: 1rem;
}
.timeline {
    display: table;
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    position: relative;
    border-collapse: collapse;
}
.timeline:before {
    content: "";
    width: 10px;
    margin-left: -15px;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 30px;
    background-color: #EAE9D1;
    z-index: 0;
}
.timeline .timeline-date {
  display: block;
  width: 100%!important;
  margin-top: -9px;
  text-align: left;
  font-size: 2.25rem;
  color: #A4C744;
}
.timeline .timeline-icon {
  position: absolute;
  left: -20px;
  top: 20%;
  margin-top: -5px;
}
.timeline .time-icon {
  width: 20px;
  height: 20px;
  display: inline-block !important;
  z-index: 10;
  background: #A4C744;
  border-radius: 50%;
}
.timeline .time-icon:before {
  font-size: 16px;
  margin-top: 5px;
}
.timeline-item {
  display: table-row;    
  text-align: left;
}
.timeline-item:before,
.timeline-item.alt:after {
  content: "";
  display: block;
  width: 50%;
}
.timeline-item.alt,
.timeline-item.alt span.timeline-date,
.timeline-item.alt h5{
  text-align: right;
}
.timeline-item.alt:before {
  display: none;
}
.timeline-item .panel {
    display: inline-block;
    position: relative;
    text-align: left;
    background: #fff;
}
.timeline-item.alt .panel {
  margin-right: 25px;
  margin-left: 0;
}
.timeline-item.alt .timeline-date {
  text-align: left;
}
.timeline-item.alt .timeline-icon {
  left: auto;
  right: -25px;
}
.timeline-caption {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
.timeline-caption .panel-body {
    padding: 15px;
}
.timeline-caption h5 {
  margin: 0;
  color: #666;
  font-size: 0.875rem;
  line-height: 1.7143;
}
.timeline-caption h5 span {
    color: #000;
}


/* program */
.program .program-intro {
  background: url(../images/intro/bg-bizz.jpg) center / cover;
  background-attachment: fixed;
  margin-bottom: 3em;
  padding-top: 2em;
}
.program .program-intro p,
.program .program-intro h3{
  text-align: center;
  color: #fff;
}
.program .col-8 {
  margin-bottom: 3em;
}
.program .col-8 .col-16 {
  min-height: 24em;
  overflow: hidden;
}
.program .col-8 .col-16 img {
	width: 100%;
	height: auto;
}
.program .col-8 h4{
  background: #EBEAD2;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  text-align: center;
  color: #444;
}
.program .col-8 p{
  text-align: left;
  color: #444;
  margin-bottom: 1.5em;
}


/**********
** 탭메뉴 **
**********/
.tab-menu {
    margin-bottom: 3em;
}
.tab-menu .tab {
    display: block;
    border: 1px solid #ebead2;
    font-size: 1.2rem;
    line-height: 3.6;
    color: #444;
}
.tab-menu .tab.active {
    background: #a6c840;
    color: #fff;
}
.tab-menu .tab:hover {
    background: #a6c840;
    color: #fff;
}

/* qna list */
table.qna {
    margin-bottom: 3em;
    width: 100%;
}
table.qna thead {
    border-top: 1px solid #888;
    background: #ebead2;
}
table.qna tr {
    text-align: center;
    border-bottom: 1px solid #888;
    line-height: 1.5;
}
table.qna th,
table.qna td {
    padding: 0.75em 0;
}
table.qna td a {
    color: #444;
}
table.qna td a:hover {
    text-decoration: underline
}
.qna-list a.btn {
	background: #A6C840;
    color: #fff;
    border-radius: 5px;
    padding: 0.5em;
    text-align: center;
}
.qna-list a.btn:hover {
	background: #93B13A;
}
.search-form input,
.search-form select {
	border: 1px solid #ccc;
	padding: 5px 10px;
	height: 32px;
}

.btn-default{
	color:#333;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px
}
.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover{
	color:#333;
	background-color:#eee;
	border-color:#adadad
}

/* qna view */
.qna_view {}
.qna_view .header {
    text-align: center;
    padding: 1.5em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.qna_view .header>.title {
    font-size: 1.5rem;
    line-height: 2;
    color: #444
}
.qna_view .header>.date {
    color: #666;
}
.qna_view .content {
    padding: 1em;
    min-height: 250px;
    border-bottom: 1px solid #ccc;
}
.qna_view .reply {
    padding: 1em 0;
    color: #6E835D;
}
.qna_view .reply textarea {
    border: 1px solid #ccc;
    color: #666;
    margin-top: 1em;
}
.qna_view .reply button {
    border-radius: 5px;
    padding: 0.75em 0;
    margin-top: 1em;
    background: #A6C840;
    color: #fff;
    text-shadow: 1px 1px 5px #6E835D
}
.qna_view .reply button:hover {
    background: #93B13A;
}
.qna_view .reply-list {
    margin-top: 1.5em;
    border-bottom: 1px solid #ccc;
}
.qna_view .reply-list ul{
    border-top: 1px solid #ccc;
    background: #FAFAEE
}

.qna_view .reply-list li{
    padding: 0.5em;
    font-size: 0.875rem;
}

/* qna-write */
.qna_write input {
    width: 100%;
    font-family: malgun gothic
}
.qna_write textarea {
    width: 100%;
    height: 300px;
    font-family: malgun gothic
}
.qna_write button,
.qna_write a.btn {
	width: 200px;
	height: 45px;
	display: inline-block;
}
.qna_write .header {
    padding: 1em;
}
.qna_write .content {
    min-height: auto;
    padding: 1em;
}


/* gallery*/
.gallery {
	margin-top: 2em
}
.gallery .img-wrap {
    width: 100%;
    height: 12em;
    overflow: hidden;
    background: #fff;
    text-align: center;
}
.gallery .img-wrap:hover {
	cursor: pointer;
}
.gallery p {
    margin-bottom: 1.5em;
    text-align: center;
}
.gallery .popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.gallery .popup-content p {
    color: #666;
    font-size: 0.875rem;
    text-align: center;
    height: auto;
    overflow-y: visible;
}

/* 아로마-1 */
.aroma h3 {
    font-size: 2.25rem;
    line-height: 1.6;
    color: #A6C840;
}
.aroma h4 {
    font-size: 1.5rem;
    line-height: 1;
    color: #51621e;
    margin-bottom: 1em
}
.aroma p {
    font-size: 0.875rem;
    line-height: 1.7143;
    margin-bottom: 3.4286em;
    color: #666
}
.aroma .compare {
    margin-top: 3em;
}
.aroma .compare>p {
    text-align: center;
}
.aroma .compare>p.nanumpen {
    font-size: 1.5rem;
    line-height: 2;
    color: #51621e;
    margin-bottom: 0;
}
.aroma .compare>p.pt-1 {
    display: block;
}
.aroma .compare>.col-16 {
    border: 1px solid #dcdcdc;
    height: 500px;
    text-align: center;
}
.aroma .compare>.col-16>img {
    padding: 1em 2em;
    width: 100%;
}
.aroma .nose {
    color: #666
}
.aroma .nose span {
    color: #000;
}
.aroma .caution span {
    display: block;
    color: #000;
}
.aroma ul.legend {
    font-size: 0.875rem;
    line-height: 1.7142;
}
.aroma .yellow {
    color: transparent;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    background: #ffdd22;
    margin-right: 0.5em;
}
.aroma .blue {
    color: transparent;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    background: #4488ff;
    margin-right: 0.5em;
}
.aroma .pink {
    color: transparent;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    background: #ff5555;
    margin-right: 0.5em;
}
.aroma table {
   margin-top: 3em
}
.aroma table th {
    padding: 1em;
    background: #ddeecc;
}
.aroma table td {
    font-size: 0.875rem;
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid #ddd
}
.aroma table td:last-child {
    text-align: left;
    padding: 1em;
}
.aroma-5 img {
    padding: 0 1em;
}
.aroma-5 span {
    display: block;
    color: #ff5555;
}

.essence {
    position: relative;
}
.essence .popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.popup .popup-content {
    background-color: #fff;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 60%; /* Could be more or less, depending on screen size */
    text-align: center;
}
.popup .popup-content p span {
    display: block;
    color: #A6C840;
    font-size: 1rem;
}
.popup .popup-content p .nanumpen {
    font-size: 2rem;
}
.popup .popup-content p {
    color: #666;
    font-size: 0.875rem;
    text-align: left;
    height: 34vw;
    overflow-y: scroll;
}
/* The Close Button */
.popup .popup-content button {
    border: none;
    padding: 0.3em 3em;
    margin-top: 15px;
    color: #fff;
    background: #A6C840;
}
.popup .popup-content button:hover,
.popup .popup-content button:focus {
    text-decoration: none;
    cursor: pointer;
}

.essence .img-wrap {
    height: 14em;
    margin-bottom: 2em;
    position: relative;
}
.essence .img-wrap img {
    opacity: 0.8;
}
.essence .img-wrap p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2em;
    line-height: 7em;
    background: #000;
    opacity: 0.5;
    text-shadow: 1px 1px 2px #555;
    transition: 0.5s
}
.essence .img-wrap p:hover {
    position: absolute;
    opacity: 0;
}
.essence .img-wrap a {
    cursor: pointer;
    display: block;
    color: #fff;
}

/*************
*** 모달 팝업 디자인
**************/
.modal {
	  display: none;
      position: fixed;
      z-index: 999999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 380px;
    text-align: center;
}
.modal-content p {
    color: #666;
    margin-top: 1rem;
    font-size: 0.85rem;
}
.modal-content button {
    border: none;
    padding: 5px;
    margin-top: 15px;
    color: #fff
}
.modal-content button.ok {
    background: #A6C840;
}
.modal-content button.cancel {
    background: #A6C840;
}
.modal-content button:hover,
.modal-content button:focus {
    text-decoration: none;
    cursor: pointer;
}


/* fragrance */
.frag-4 .bns {
    text-align: center;
}
.frag-4 td {
    text-align: center!important
}



  
@media screen and (max-width: 1366px) {
  html{
    font-size: 80%;
  }
}

.c-header-burger {
  cursor: pointer;
  position: absolute;
  pointer-events: auto;
}
.c-header-burger_lines {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity, visibility;
  transition: opacity, visibility;
  -webkit-transition-duration: 0.3s, 0s;
          transition-duration: 0.3s, 0s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
.c-header-burger_line {
  display: block;
  background-color: #000000;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity, margin-bottom, -webkit-transform;
  transition: opacity, margin-bottom, -webkit-transform;
  transition: transform, opacity, margin-bottom;
  transition: transform, opacity, margin-bottom, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  will-change: transform, opacity, margin-bottom;
  height: 2px;
}
.c-header-burger_line:nth-child(3) {
  margin-bottom: 0;
}
.has-header-navigation-opened .c-header-burger_line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translateX(0vw);
      -ms-transform: rotate(-45deg) translateX(0vw);
          transform: rotate(-45deg) translateX(0vw);
}
.has-header-navigation-opened .c-header-burger_line:nth-child(2) {
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  margin-bottom: 7px;
}
.has-header-navigation-opened .c-header-burger_line:nth-child(3) {
  -webkit-transform: rotate(45deg) translateX(0vw);
      -ms-transform: rotate(45deg) translateX(0vw);
          transform: rotate(45deg) translateX(0vw);
}
.c-header-burger_lines {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
}


@media (min-width: 769px) {
  .c-header-burger {
    display: none;
  }
}


@media (max-width: 768px) {
	.page-header {
		padding-top: 14px 0 10px!important;
	}
	.c-header-burger {
	  font-size: 0;
	  text-align: center;
	  z-index: 1;
	  -webkit-tap-highlight-color: transparent;
	}
	.c-header-burger {
	  height: 60px;
	  width: 60px;
	}
	.c-header-burger_line {
	  margin-bottom: 7px;
	  width: 25px;
	}
	.c-header-burger {
	  top: 50%;
	  right: 0;
	  -webkit-transform: translateY(-50%);
	      -ms-transform: translateY(-50%);
	          transform: translateY(-50%);
	}
	.page-gnb {
		display:none;
	  float: none;
	  position: absolute;
	  top: 50px;
	  padding-top: 10px;
	  margin-left: -7.142857142857142%;
	  width: 100%;
	  background: #fff
	}
	.page-gnb li {
		float: none;
		width: 100%;
		text-align: right
	}  
	.page-gnb a {
		font-size: 1.5rem
	}
	.dropdown-menu {
	    position: unset;
	    float: none;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;
	    border-left: 0;
	    border-right: 0;
	    transition: 0.5s
	}
	   
	.container {
		min-width:100%
	}
	.content-1 .main .col-8 {
		margin-top: 30em
	}
	.content-1 .main .col-8 h3 {
		text-align: center
	}
	.content-2 .title {
		margin-top: 3.5em
	}
	.content-2 .title h3 {
		padding: 1em 0
	}  
	.product-item img {
		width: 14.1vw; 
		height: 14.1vw
	}
	.product-item .hover-focus-view {
		width: 14.1vw; 
		height: 14.1vw
	}
	.detail-01 .top>.row {
		padding: 5em 0
	}
	.footer .btn .footer-txt {
		font-size: 0
	}
	.intro-2 .bizz {
		padding: 0 7.142857142857142%
	}
	.timeline:before {
		margin-left: -11px
	}
	.timeline .timeline-icon {
		left: -16px
	}
	.timeline-item.alt .timeline-icon {
		right: -29px
	}
	.tab-menu .tab {
		font-size: 0.875rem
	}
	.aroma .compare>.col-16 {
		height: 300px
	}
}


@media screen and (max-width: 414px) {
	.content-1 .main .col-8 {
		height: 100%;
		background: rgba(0,0,0,0.3);
		margin-top: 0;
		padding: 16em 0
	}
	.content-1 .main .col-8 h3 {
		padding: 1em
	}
	.content-2 .content-wrap {
		float: none;
	}
	.news .open-event ul li span.date {
		display: none;
	}
	.product-item img {
	    width: 47.4vw;
	    height: 47.4vw;
	}
	.product-item .hover-focus-view {
	    width: 47.4vw;
	    height: 47.4vw;
	}
	.btn-set {
	    margin-top: -120px;
	}
	.footer .col-5 {
		text-align: center!important
	}
	.footer .col-5 .fr {
		float: none;
	}
	.footer .btn {
		margin-left: 4px;
		margin-right: 4px;
	}
	.footer p.copyright {
		text-align: center
	}
	.logo-name {
		display: none
	}
	.intro-2 .bizz div {
		margin-top: 2em;
		margin-bottom: 2em
	}
	.frag-1 .col-3{
		display: none;	
	}
	.aroma-5 img {
		width: 100%!important;
		height: auto!important
	}
	table.qna thead th:first-child,
	table.qna thead th:last-child,
	table.qna tbody td:first-child
	table.qna tbody td:last-child {
		display: none
	}
	.popup .popup-content {
		width: 80%
	}
	.popup .popup-content p {
		height: auto
	}
}


